@model StartToBike.Models.Injury

@{
    ViewBag.Title = "Delete";
}
<body>
    <section class="main" id="main">
        <div class="content">
            <h2>Delete</h2>

            <h4><span>Bent u zeker dat u deze blessure wilt verwijderen?</span></h4>
            <br />
            <div>
            

                <dl class="dl-horizontal">
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Name):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <br />
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Description):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <br />
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Picture):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Picture)
                    </dd>
                    <br />
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Prevention):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Prevention)
                    </dd>
                    <br />
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Treatement):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Treatement)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </section>
</body>