@model StartToBike.Models.Injury

@{
    ViewBag.Title = "Details";
}


<body>
    <section class="main" id="main">
        <div class="content">
            <h2>Details</h2>
            <div>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Name):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <br />
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Description):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <br />
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Picture):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Picture)
                    </dd>
                    <br />
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Prevention):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Prevention)
                    </dd>
                    <br />
                    <dt>
                        <span>@Html.DisplayNameFor(model => model.Treatement):</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Treatement)
                    </dd>
                    <br>
                </dl>
            </div>
            <p>
                @if (User.IsInRole("Moderator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) @:|
                }
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </section>
</body>