@model IEnumerable<StartToBike.Models.Injury>

@{
    ViewBag.Title = "Index";
}
<body>
    <section class="main" id="main">
        <div class="content">
            <h2>Blessures</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>


            <table>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="card">
                            @Html.DisplayFor(modelItem => item.Name)
                            <br />

                            @Html.DisplayFor(modelItem => item.Description)
                            <br />
                            @Html.DisplayFor(modelItem => item.Picture)
                            <br />
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>

                }
            </table>
            </div>
    </section>
</body>