@model IEnumerable<StartToBike.Models.Injury>

@{
    ViewBag.Title = "Index";
}
<body>
    <section class="main" id="main">
        <div class="content">
            <h2>Blessures</h2>
            


            <table>
                @foreach (var item in Model)
                {
                    <tr class="card">
                        <td>
                            <br />
                            @Html.DisplayFor(modelItem => item.Name)
                            <br />
                            <br />
                            @Html.DisplayFor(modelItem => item.Description)
                            <br />
                            @Html.DisplayFor(modelItem => item.Picture)
                            <br />
                            <br />
                            <br />
                            <br />
                            @if (User.IsInRole("Moderator"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @:|
                            }
                            @if (User.IsInRole("User"))
                            {
                                @Html.ActionLink("Save","Save", new { id = item.ID}) @:|
                            }

                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                            @if (User.IsInRole("Moderator"))
                            {
                                @:|
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            }
                        </td>
                    </tr>

                }
            </table>
            <br />
            @if (User.IsInRole("Moderator"))
            {
                <div>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
                </div>
            }

        </div>
        

    </section>
</body>