@model StartToBike.Models.Route

@{
    ViewBag.Title = "Create";
}
<body>
    <section class="main" id="main">
        <div class="content">
            <h2>Create <span>route</span></h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "alert" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "input-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "alert" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "input-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "input" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "alert" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "input-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @class = "input" } })
                            @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "alert" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Length, htmlAttributes: new { @class = "input-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "input" } })
                            @Html.ValidationMessageFor(model => model.Length, "", new { @class = "alert" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Difficulty, htmlAttributes: new { @class = "input-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Difficulty, new { htmlAttributes = new { @class = "input" } })
                            @Html.ValidationMessageFor(model => model.Difficulty, "", new { @class = "alert" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </section>
</body>