@model IEnumerable<StartToBike.Models.Route>

@{
    ViewBag.Title = "Index";
}
<body>
    <section class="main" id="main">
        <div class="content">
            <h2>Routes</h2>

            <table>
                

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @if (User.IsInRole("Moderator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @:|
            }
            @if (User.IsInRole("User"))
            {
                @Html.ActionLink("Save", "Save", new { id = item.ID }) @:|
            }

            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @if (User.IsInRole("Moderator"))
            {
                @:|
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>

