@model IEnumerable<StartToBike.Models.Training>

@{
    ViewBag.Title = "Index";
}
<body>
    <section class="main" id="main">
        <div class="content">
            <h2>Trainingen</h2>
            <table>
                @foreach (var item in Model)
                {
                    <tr class="card">
                        <td>
                            <br />
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <br />
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <br />
                            @Html.DisplayFor(modelItem => item.Picture)
                        </td>
                        
                        <td>
                            <br />
                            @Html.DisplayFor(modelItem => item.Difficulty)
                        </td>
                        <td>
                            <br />
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
            <br />
            <div>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
            </div>
          
        </div>
    </section>
</body>